.AppLogo {
    height: 250px;
    width: 250px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .AppLogo {
        animation: AppLogoSpin infinite 20s linear;
    }
}

@keyframes AppLogoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
